    <div class="container-fluid">
        <div class="row">
            
            <div class="col-lg-8 col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Perfil do Utente</h4>
                    </div>
                    <div class="content">
                        <form>
                                <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Nome Completo</label>
                                                <input type="text" class="form-control border-input" placeholder="Company" value="António de Almeida Silva">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                            
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Sexo</label>
                                                    <input type="text" class="form-control border-input" placeholder="Company" value="Masculino">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Idade</label>
                                                        <input type="text" class="form-control border-input" placeholder="Company" value="82">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Data de Nascimento</label>
                                                            <input type="text" class="form-control border-input" placeholder="Company" value="12/05/1935">
                                                        </div>
                                                    </div>
                                        </div>
                                    
                           

                            

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Morada</label>
                                        <input type="text" class="form-control border-input" placeholder="Home Address" value="Rua Nova de Santa Cruz, nrº 24">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Cidade</label>
                                        <input type="text" class="form-control border-input" placeholder="City" value="Braga">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>País</label>
                                        <input type="text" class="form-control border-input" placeholder="Country" value="Portugal">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Código Postal</label>
                                        <input type="text" class="form-control border-input" placeholder="Código Postal" value="4700-123">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                    
                                    <div class="col-md-3">
                                            <div class="form-group">
                                                <label>CC/BI</label>
                                                <input type="text" class="form-control border-input" placeholder="Username" value="0012378">
                                            </div>
                                        </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>NIF</label>
                                            <input type="text" class="form-control border-input" placeholder="Username" value="745531512">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Número de Utente</label>
                                            <input type="text" class="form-control border-input" placeholder="nrº de utente" value="147310761">
                                        </div>
                                    </div>
                                </div>

                            <div class="row">
                                <div class="col-md-12">
                                        <label>Contacto de Emergência</label>
                                    <div class="form-group">
                                            <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Nome</label>
                                                        <input type="text" class="form-control border-input" placeholder="Filho" value="João Silva">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Grau de Parentesco</label>
                                                            <input type="text" class="form-control border-input" placeholder="Filho" value="Filho">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Número</label>
                                                                <input type="text" class="form-control border-input" placeholder="Filho" value="917734901">
                                                            </div>
                                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-info btn-fill btn-wd" [routerLink]="[route1]">Níveis de Glicemia</button>
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-info btn-fill btn-wd" [routerLink]="[route2]">Pressão arterial</button>
                                </div>
                                <div class="col-md-4">
                                        <button type="submit" class="btn btn-info btn-fill btn-wd" [routerLink]="[route3]">Medicação</button>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-4">
                                        <button type="submit" class="btn btn-info btn-fill btn-wd" [routerLink]="[route4]">Relatório</button>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="submit" class="btn btn-info btn-fill btn-wd" [routerLink]="[route5]">Notas</button>
                                    </div>
                                    <div class="col-md-4">
                                            <button type="submit" class="btn btn-info btn-fill btn-wd" [routerLink]="[route3]">Frequência Cardíaca</button>
                                        </div>
                                </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div >
                    <img  src="assets/img/faces/silva2.png" alt="..."/>
            </div>
            
        </div>
    </div>
