    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h4 class="title">Notificações</h4>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info" data-notify="container">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span (click)="goMed()" data-notify="icon" class="ti-bell"></span>
                            <span data-notify="message">Toma de medicamento. António Silva</span>
                        </div>
                        <div class="alert alert-danger" data-notify="container">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span (click)="goGlucose()" data-notify="icon" class="ti-stats-up"></span>
                            <span data-notify="message">Níveis de glicemia preocupantes!! António Silva</span>
                        </div>
                         <div class="alert alert-warning">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span (click)="goNotes()" data-notify="icon" class="ti-book"></span>
                            <span data-notify="message">Recomendo a consulta do diário de António silva. Maria</span>
                        </div>
                        <div class="alert alert-info">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span (click)="goNotes()" data-notify="icon" class="ti-book"></span>
                            <span data-notify="message">Próximo do dia de consulta</span>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="content">
                    <div class="row">
                        <div class="col-md-9">
                            <h5>Enviar notificação
                                <p class="category">Configure a notificação a enviar</p>
                            </h5>
                        </div>
                    </div>
                    <div >
                    <div class="row" [style.background-color]="alertColor">
                        <div class="col-md-3">
                        <div class="form-group">
                            <label><b>Tipo de notificação</b></label>
                            <br>
                           <select [(ngModel)]="selectedType" name="type" class="form-control" (change)="onChange($event.target.value)">
                                    <option *ngFor="let i of type">{{i}}</option>
                            </select>
                        </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                            <label><b>Associado a:</b></label>
                            <br>
                           <select name="type" class="form-control" >
                                    <option *ngFor="let i of associated">{{i}}</option>
                            </select>
                        </div>
                        </div>
                        <div class="col-md-2">
                             <div class="form-group">
                            <label><b>Sobre:</b></label>
                            <br>
                           <select name="type" class="form-control" >
                                    <option *ngFor="let i of users">{{i}}</option>
                            </select>
                        </div>
                    </div>
                        <div class="col-md-5">
                            <div class="form-group">
                            <label><b>Mensagem:</b></label>
                            <input class="form-control" type="text" name="message">
                        </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
